<h2 class="mb-4"><%= t(".forgot_your_password") %></h2>

<%= bootstrap_form_with(model: resource, as: resource_name, url: password_path(resource_name)) do |f| %>
  <%= render 'layouts/flash' %>
  <%= f.email_field :email, autofocus: true, label: t("activerecord.attributes.user.email"), required: false, floating: true %>
  <%= f.submit t(".send_me_reset_password_instructions"), class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
