<turbo-frame id="incident_entry_<%= incident_entry.new_record? ? "new" : incident_entry.id %>">
  <%= bootstrap_form_with(model: [status_page, incident, incident_entry], local: !incident_entry.persisted?, id: "incident_entry_form") do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.select :status, IncidentEntry.statuses.keys.map { |s| [t("enums.incident_entry.status.#{s}"), s] }, include_blank: true %>
      </div>
      <div class="col-6">
        <%= f.datetime_field :posted_at, min: Date.new(1900, 01, 01), max: Date.new(2200, 12, 31), include_seconds: false, value: Time.current.change(sec: 0) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= f.text_area :body, class: "auto-sizing" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <%= f.submit "更新", class: "btn btn-primary ms-auto" %>
        <% unless incident_entry.new_record? %>
          <%= link_to "戻る", status_page_incident_path(status_page, incident), class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</turbo-frame>
