<% Rails.logger.debug "Flash: #{flash[:notice]}" %>

<% flash.each do |key, message| %>
  <div class="alert alert-<%= key %>"><%= message %></div>
<% end %>

<% flash.each do |key, value| %>
  <% if key == 'alert' %>
    <div class="alert alert-danger alert-dismissible fade show">
      <button class="close ms-auto btn-close" aria-label="Close" data-bs-dismiss="alert" type="button"></button>
      <%= value %>
    </div>
  <% elsif key == 'notice' %>
    <div class="alert alert-success alert-dismissible fade show">
      <button class="close ms-auto btn-close" aria-label="Close" data-bs-dismiss="alert" type="button"></button>
      <%= value %>
    </div>
  <% elsif key == 'warning' %>
    <div class="alert alert-warning alert-dismissible fade show">
      <button class="close ms-auto btn-close" aria-label="Close" data-bs-dismiss="alert" type="button"></button>
      <%= value %>
    </div>
  <% end %>
<% end %>
