<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Solid Status" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-bs-theme="dark">
    <header>
      <nav class="navbar navbar-expand-md pb-0 bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            SolidStatus
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-pills custom-pills me-auto flex-column flex-md-row">
              <li class="nav-item">
                <%= link_to "Incidents", incidents_path, class: "nav-link" %>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted pro-pic" href="#" aria-expanded="false" aria-haspopup="true" data-bs-toggle="dropdown">
                  <img class="rounded-circle" alt="user" src="<%= asset_path 'user-solid.png' %>" width="20">
                </a>
                <div class="dropdown-menu dropdown-menu-end user-dd">
                  <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom">
                    <div>
                      <img class="rounded" alt="user" src="<%= asset_path 'user-solid.png' %>" width="80">
                    </div>
                    <div class="ms-2">
                      <h4 class="mb-0"><%= current_user&.display_name || "Guest" %></h4>
                      <p class="mb-0"><%= current_user&.email || "guest@example.com" %></p>
                    </div>
                  </div>
                  <%= link_to t('navigation.account_settings'), edit_user_registration_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to t('navigation.sign_out'), destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
